{% extends "index.html" %}

{% block title %}
About me
{% endblock title %}

{% block post_title %}
{% endblock %}


{% block content2 %}

Mi nombre es Matías Galan, tengo 37 años y vivo en Córdoba, Argentina.
<br>
<br>
A comienzos de 2022 inicié con mi aprendizaje en programación orientada a objetos.
<br>
<br>
Toda mi vida me dediqué a la informática en general.
<br>
Actualmente trabajo en una empresa de Marketing realizando tareas de testing,
 y en una empresa familiar, a cargo de los sistemas de gestión y de la implementación de nuevas estrategias de negocio.
 <br>
 <br>
Mi objetivo a corto plazo es utilizar los nuevos conocimientos que he adquirido en Pyhton
 para el desarrollo de aplicaciones que faciliten y mejoren la comunicación entre clientes y el sector de ventas de esta empresa.

<br>
<br>
<br>



{% endblock %}