{% extends "index.html" %}


{% block title %}
{{post_title}}
{% endblock title %}

{% block post_title %}
Lista de publicaciones
{% endblock post_title %}


{% block content2 %}

{% for post in post %}


<h2 style="text-align: center;"><strong>{{post.id}} - {{ post.title }}</strong></h2></a>
<!--Button eliminar-->


<!-- <center>
    <table align="right" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td align="right" style="padding: 10px;">
          <table border="0" class="mobile-button" cellspacing="0" cellpadding="0">
            <tr>
              <td align="right" bgcolor="#e93333" style="background-color: #e93333; margin: auto; max-width: 600px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 15px 20px; " width="100%">
              
                  <a href="{% url 'del_post' post.id %}" target="_self" style="13px; font-family: Century Gothic, Times, serif; color: #ffffff; font-weight:normal; text-align:center; background-color: #e93333; text-decoration: none; border: none; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: inline-block;">
                      <span style="font-size: 13px; font-family: Century Gothic, Times, serif; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">Eliminar</span>
                </a>
              
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
   </center>

<!--Button Editar
<center>
    <table align="center" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td align="right" style="padding: 10px;">
          <table border="0" class="mobile-button" cellspacing="0" cellpadding="0">
            <tr>
              <td align="right" bgcolor="#3393e9" style="background-color: #3393e9; margin: auto; max-width: 600px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 15px 20px; " width="100%">
              
                  <a href="{% url 'edit_post' post.id %}" target="_self" style="13px; font-family: Century Gothic, Times, serif; color: #ffffff; font-weight:normal; text-align:center; background-color: #3393e9; text-decoration: none; border: none; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: inline-block;">
                      <span style="font-size: 13px; font-family: Century Gothic, Times, serif; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">Editar</span>
                </a> 
              
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
   </center> -->

   

<a href= "{% url 'read_more' post.id %}"> {{ post.content | slice:100 }}... <sub style="color: red"><em>Leer más</em></sub></a>

<p style="text-align: right;"><sub><em>Fecha de publicación: {{post.date}}</em></sub></p>
  


{% endfor %}

{% endblock %}